<ion-header>
  <ion-toolbar>
    <ion-title>سير العمل للجنة التفتيش على المطاعم</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label floating>
        <ion-icon name="journal" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="fullName"
        [(ngModel)]="report.name"
        class="form-control"
        placeholder="الإسم"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="call" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="tel"
        [(ngModel)]="report.phone"
        class="form-control"
        placeholder="الهاتف"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="journal" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="helperName"
        [(ngModel)]="report.helperName"
        class="form-control"
        placeholder="اسم المساعد"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="call" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="helperPhone"
        [(ngModel)]="report.helperPhone"
        class="form-control"
        placeholder="هاتف المساعد"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>المطعم</ion-label>
      <ion-select
        name="restaurantId"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="report.restaurantId"
      >
        <div *ngFor="let item of restaurants">
          <ion-select-option value="{{ item.id }}">
            {{ item.name }}</ion-select-option
          >
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>اليوم</ion-label>
      <ion-select
        name="day"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="report.day"
      >
        <div *ngFor="let day of daysNumer">
          <ion-select-option value="{{ day }}"> {{ day }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>وقت الحضور</ion-label>
      <ion-select
        name="assistanceMinute"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="payload.assistanceMinute"
      >
        <div *ngFor="let item of minutes">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
      :
      <ion-select
        name="assistanceHour"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="payload.assistanceHour"
      >
        <div *ngFor="let item of hours">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:15px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>ترخيص البلدية الخاص بالمطبخ.</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.kitchenMunicipalityLicense"
          name="kitchenMunicipalityLicense"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>شهادة صحية سارية لكافة العاملين في المطبخ.</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.kitchenWorkersValidHealthCertificate"
          name="kitchenWorkersValidHealthCertificate"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >تغطية الشعر وتقليم ونظافة الأظافر<br> للعاملين في المطبخ.</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.kitchenWorkershairCoverTrimCleanNails"
          name="kitchenWorkershairCoverTrimCleanNails"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >عدم ارتداء الحلي والخواتم <br>والساعات خلال تجهيز الوجبات</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.jewelsRingsWatchesDuringMealProcessingChecked"
          name="jewelsRingsWatchesDuringMealProcessingChecked"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>
            عدم تناول المأكولات والمشروبات والامتناع عن <br>التدخين في
            المطبخ</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.eatDrinkSmokingInKitchenCheck"
          name="eatDrinkSmokingInKitchenCheck"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >عدم تواجد أي شخص مصاب بمرض معدي<br> أو جروح أو إسهال.</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.noPersonWithInfectionsDiseaseWoundsDiarrhea"
          name="noPersonWithInfectionsDiseaseWoundsDiarrhea"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>كفاية الاضاءة ونظافة أرضية<br> المطبخ والأدوات</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.lightingCleanKitchenToolsChecked"
          name="lightingCleanKitchenToolsChecked"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>اللحوم مطهية جيدا خالية من <br>اللون الوردي</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.meatWellCooked"
          name="meatWellCooked"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >الدواجن مطهية جيدا خالية من الدماء في <br>أمكان التصاق اللحم
            بالعظام.</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.chickenWellCooked"
          name="chickenWellCooked"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >عبوات الروب والعصائر غير منتفخة<br> وخالية من الثقوب.</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.roastJuicePacksNonBloatedFreeHoles"
          name="roastJuicePacksNonBloatedFreeHoles"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>نوع الأرز أبو كأس وصالح <br>لأكثر من أربعة أشهر.</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.riceTypeAndValid"
          name="riceTypeAndValid"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>الدجاج حلال وصلاحيته أكثر من أربعة أشهر</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.chickenIsHalalAndValid"
          name="chickenIsHalalAndValid"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label
            >اللحم طازج ذبح الدوحة خالي من الشحم<br> والعظم قدر الامكان</ion-label
          >
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.meatValidWithoutBone"
          name="meatValidWithoutBone"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>وزن الدجاج لكل وجبة</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.kitchenWeightForEveryMeal"
          name="kitchenWeightForEveryMeal"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>وزن اللحم لكل وجبة</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.meatWeightForEveryMeal"
          name="meatWeightForEveryMeal"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>سعة عبوة العصير 200 مل </ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.juiceBottleSize"
          name="juiceBottleSize"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>سعة عبوة المياه 350 مل </ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.waterBottleSize"
          name="waterBottleSize"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>حبات التمر مغلفة ووزنها 25 جرام.</ion-label>
        </ion-list-header>
        <ion-radio-group [(ngModel)]="report.dateSize" name="dateSize">
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item style="margin-right: 50px !important;margin-top:10px !important;">
      <ion-list>
        <ion-list-header>
          <ion-label>كفاءة ثلاجات الدجاج واللحوم النيئة</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="report.fidgePerformance"
          name="fidgePerformance"
        >
          <ion-item>
            <ion-label>مطابقة</ion-label>
            <ion-radio value="matching"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>غير مطابقة</ion-label>
            <ion-radio value="not_matching"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="add()"
      >
        حفظ
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="goTo('workProgress')"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
