<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label>الخيمة</ion-label>
      <ion-select
        name="camp"
        okText="تم"
        (ionChange)="foo()"
        cancelText="الغاء"
        [(ngModel)]="firstForm.camp"
        *ngFor="let item of camps"
      >
        <ion-select-option value="{{ item.Camp_No }}">{{
          item.Camp_No
        }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="isVisible">
      <h3>المشرف العام</h3>
      <ion-item>
        <ion-label>المشرف</ion-label>
        <ion-input
          type="text"
          name="supervisor"
          [(ngModel)]="firstForm.supervisor"
          class="form-control"
          placeholder="المشرف"
          style="direction: rtl;"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>الإلتزام بالزي الرسمي</ion-label>
        <ion-checkbox
          name="supervisorOfficialDress"
          [(ngModel)]="firstForm.supervisorOfficialDress"
          class="form-control"
          [checked]="false"
          style="direction: rtl;"
        ></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>الإلتزام بتعبئة نماذج التقييم</ion-label>
        <ion-checkbox
          [checked]="false"
          name="supervisorNotes"
          [(ngModel)]="firstForm.supervisorNotes"
          class="form-control"
          style="direction: rtl;"
        ></ion-checkbox>
      </ion-item>
      <h3>المشرفين المساعدين</h3>
    </div>
    <div *ngFor="let item of assistants; let i = index">
      <ion-card>
        <ion-card-content>
          <p style="text-decoration: underline">
            <strong>{{ item.Name_Person }}</strong>
          </p>
          <ion-item>
            <ion-label>وقت الحضور</ion-label>
            <ion-datetime
              name="assistanceDate_{{ i }}"
              [(ngModel)]="assistantsWithData[i].assistanceDate"
              display-format="MMM DD, YYYY HH:mm"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>الإلتزام بالزي الرسمي</ion-label>
            <ion-checkbox
              name="assistantOfficialDress_{{ i }}"
              [(ngModel)]="assistantsWithData[i].assistantOfficialDress"
              class="form-control"
              [checked]="false"
              style="direction: rtl;"
            ></ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="save()"
      >
        تسجيل
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="goTo('workProgress')"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
