<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label>الحضور في الخيمة</ion-label>
      <ion-select
        name="superVisorAssistanceMinute"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="firstForm.superVisorAssistanceMinute"
      >
        <div *ngFor="let item of minutes">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
      :
      <ion-select
        name="superVisorAssistanceHour"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="firstForm.superVisorAssistanceHour"
      >
        <div *ngFor="let item of hours">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>إختر المشرف</ion-label>
      <ion-select
        okText="تم"
        name="supervisorId"
        (onChange)="foo()"
        cancelText="الغاء"
        [(ngModel)]="firstForm.supervisorId"
      >
        <div *ngFor="let item of supervisors">
          <ion-select-option value="{{ item.id }}">
            {{ item.name }}</ion-select-option
          >
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-list-header>
          <ion-label>الإلتزام بالزي الرسمي</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="firstForm.supervisorOfficialDress"
          name="supervisorOfficialDress"
        >
          <ion-item>
            <ion-label>نعم</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>لا</ion-label>
            <ion-radio value="false"> </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-radio-group
        [(ngModel)]="firstForm.supervisorNotes"
        name="supervisorNotes"
      >
        <ion-list-header>
          <ion-label>الإلتزام بتعبئة نماذج التقييم</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>نعم</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>لا</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <h3>المشرفين المساعدين</h3>

    <ion-item>
      <ion-label>إختر المشرف</ion-label>
      <ion-select
        okText="تم"
        name="assistantId"
        cancelText="الغاء"
        [(ngModel)]="payload.assistantId"
      >
        <div *ngFor="let item of assistants">
          <ion-select-option value="{{ item.id }}">
            {{ item.name }}</ion-select-option
          >
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>وقت الحضور</ion-label>
      <ion-select
        name="assistanceMinute"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="payload.assistanceMinute"
      >
        <div *ngFor="let item of minutes">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
      :
      <ion-select
        name="assistanceHour"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="payload.assistanceHour"
      >
        <div *ngFor="let item of hours">
          <ion-select-option value="{{ item }}"> {{ item }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item style="margin-top: 15px;">
      <ion-list>
        <ion-list-header>
          <ion-label>الإلتزام بالزي الرسمي</ion-label>
        </ion-list-header>
        <ion-radio-group
          [(ngModel)]="payload.assistantOfficialDress"
          name="assistantOfficialDress"
        >
          <ion-item>
            <ion-label>نعم</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>لا</ion-label>
            <ion-radio value="false"> </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="addToPayload(payload)"
      >
        تسجيل
      </ion-button>
    </div>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="save()"
      >
        حفظ
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="goTo('workProgress')"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
