
.reciever {
    // width: 80%;
    // height: 10%;
    background-color: #3e38ff !important;
    // padding-right: 20px 
    color: white !important;
    // border-radius: 30px;
}

.sender {
    // width: 80%;
    // height: 10%;
    background-color: #35ce21 !important;
    // padding-right: 20px !important;
    color: white !important;
    // border-radius: 30px;
    // float: left;
}