<!-- -->
<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <div class="login-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <img src="../../assets/icon/splash.jfif" width="100px" height="150px" />
      </h2>
    </div>

    <!-- Login form -->
    <form #questionForm="ngForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start></ion-icon>
        </ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="credential.email"
          class="form-control"
          placeholder="البريد الإلكتروني"
          style="direction: rtl;"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start></ion-icon>
        </ion-label>
        <ion-input
          type="password"
          [(ngModel)]="credential.password"
          name="password"
          class="form-control"
          placeholder="كلمة السر "
          style="direction: rtl;"
        ></ion-input>
      </ion-item>
      <div style="text-align:center;">
        <ion-button
          color="primary"
          style="text-align:center;"
          [disabled]="!questionForm.form.valid"
          (click)="login()"
        >
          تسجيل الدخول
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
