<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;">
  <ion-button color="primary" expand="block" (click)="goTo('firstForm')">الزيارات الخاصة</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('secondForm')">حضور المشرفين</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('workProgress')">حضور المشرفين المساعدين</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('workProgress')">حالة الخيمة</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('workProgress')">تقييم الوجبات</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('workProgress')">رجوع</ion-button>
</ion-content>
