<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;">
  <ion-button color="primary" expand="block" style="margin-top: 100px;" (click)="goTo('note')">رسائل</ion-button>
  <ion-button color="primary" expand="block" [hidden]="isManagerOrDirector" (click)="goTo('forms-list')">استمارة</ion-button>
  <ion-button color="primary" expand="block" (click)="goTo('home')">رجوع</ion-button>
</ion-content>
