<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label floating>
        <ion-icon name="journal" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="name"
        [(ngModel)]="restaurant.name"
        class="form-control"
        placeholder="إسم المطعم"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="call" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="phone"
        [(ngModel)]="restaurant.phone"
        class="form-control"
        placeholder="رقم الهاتف"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="pin" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="location"
        [(ngModel)]="restaurant.location"
        class="form-control"
        placeholder="موقع المطعم"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>خيمة</ion-label>
      <ion-select
        name="tent"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="restaurant.tent"
      >
        <div *ngFor="let tent of tents">
          <ion-select-option value="{{ tent.id }}">{{
              tent.id
          }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>لجنة التفتيش</ion-label>
      <ion-select
        name="juryInspection"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="restaurant.juryInspection"
      >
        <div *ngFor="let item of juryInspections">
          <ion-select-option value="{{ item.id }}">{{
              item.name
          }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="archive" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="file"
        name="file"
        [(ngModel)]="restaurant.file"
        class="form-control"
        placeholder="مستندات"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        [disabled]="!questionForm.form.valid"
        (click)="addEntreprise()"
      >
        تسجيل
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="dashBoardPage()"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
