<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label floating>
        <ion-icon name="journal" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="id"
        [(ngModel)]="tent.id"
        class="form-control"
        placeholder="رقم الخيمة"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="pin" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="location"
        [(ngModel)]="tent.location"
        class="form-control"
        placeholder="موقع الخيمة"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="menu" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="number"
        name="fastingNumber"
        [(ngModel)]="tent.fastingNumber"
        class="form-control"
        placeholder="عدد الصائمين"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>مشرف خيمة</ion-label>
      <ion-select
        name="supervisorTent"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="tent.supervisorTent"
      >
        <div *ngFor="let supervisor of supervisors">
          <ion-select-option value="{{ supervisor.id }}">{{
            supervisor.name
          }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>العميل</ion-label>
      <ion-select
        name="inter"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="tent.inter"
      >
        <div *ngFor="let item of inters">
          <ion-select-option value="{{ item.id }}">{{
            item.name
          }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>إختر المورد</ion-label>
      <ion-select
        name="entreprise"
        okText="تم"
        cancelText="الغاء"
        [(ngModel)]="tent.entreprise"
      >
        <div *ngFor="let item of entreprises">
          <ion-select-option value="{{ item.id }}">{{
            item.name
          }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="archive" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="file"
        name="file"
        [(ngModel)]="tent.file"
        class="form-control"
        placeholder="مستندات"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>
    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        [disabled]="!questionForm.form.valid"
        (click)="addTent()"
      >
        تسجيل
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="dashBoardPage()"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
