<ion-header>
  <ion-toolbar>
    <ion-title>
      EER manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  style="background: url('../../assets/img/bg.jpg'); direction: rtl !important;"
>
  <form #questionForm="ngForm">
    <ion-item>
      <ion-label floating>
        <ion-icon name="journal" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="name"
        [(ngModel)]="entreprise.name"
        class="form-control"
        placeholder="إسم الشركة"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="call" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="text"
        name="phone"
        [(ngModel)]="entreprise.phone"
        class="form-control"
        placeholder="رقم الهاتف"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="archive" item-start></ion-icon>
      </ion-label>
      <ion-input
        type="file"
        name="file"
        [(ngModel)]="entreprise.file"
        class="form-control"
        placeholder="مستندات"
        style="direction: rtl;"
      ></ion-input>
    </ion-item>

    <div style="text-align:center !important;">
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        [disabled]="!questionForm.form.valid"
        (click)="addEntreprise()"
      >
        تسجيل
      </ion-button>
      <ion-button
        color="primary"
        style="margin-top: 30px !important;"
        (click)="dashBoardPage()"
      >
        الرجوع
      </ion-button>
    </div>
  </form>
</ion-content>
